@use 'base/variables' as v;

.item-cover{
    width: 100%;
    height: 40vh;
}

.Image-cover{
    background-color:#1E8BE8;
    background-image: url(../img/letters.png), linear-gradient(45deg, rgba(8,75,191,1) 0%, rgba(0,137,255,1) 35%, rgba(30,139,232,1) 100%);
    background-position: center;
    background-attachment:fixed;
    background-size: 150%;
}

.primary-button-black{
        color: v.$telling_white;
        background-color: v.$telling_black;
        font-family: v.$fuenteParrafos2;
        border-radius: 25px;
        padding: 1.4rem 3rem;
        border:1px solid transparent;
}
    
.primary-button-black:hover{
        background-color: #006BC6;
        cursor:pointer;
}

.newsletter-text{
    text-align: center;
    padding: 7rem 0;
    margin-right:20vw;
    margin-left: 20vw;

    h3{
        font-size: 3.6rem;
        font-family: v.$fuenteHeading;
        color: v.$telling_black;
        font-weight: 600;
    }
    
    span{
        font-size: 2.4rem;
        font-family: v.$fuenteParrafos1;
        color: #546370;
        font-weight: 400;
    }
}

.newsletter-form{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 14rem;
}

.title-blog{   
    margin-top: 10rem;
    margin-bottom: 3.5rem;

    h2{
        font-size: 3.6rem;
        font-family: v.$fuenteHeading;
        color: v.$telling_black;
        font-weight: 600;  
    }
}

.text-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    h2{
        text-align: center;
        color: v.$telling_white;
        font-family: v.$fuenteHeading;
        font-weight: 600;
        font-size: 5.5rem;
        line-height: 7rem;
    }
}

.container-blog{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 10rem;

    img{
        width: 30%;
        filter: drop-shadow(0px 4px 25px rgba(78, 101, 121, 0.2));
        position: relative;
        transition: 0.5s ease-in-out;

        &:hover{
            bottom: 20px;
            cursor: pointer;
        }
    }
}

@media (min-width: 576px) and (max-width: 1199px){
    .text-cover{

        h2{
            font-size: 3.3rem;
            line-height: 4rem;
        }

        span{
            font-size: 2.3rem;
        }
    }

    .title-blog{
        display: flex;
        justify-content: center;
        align-content: center;

        h2{
            font-size: 2.9rem;
        }
    }

    .newsletter-text{
        margin: 0 0;

        h3{
            font-size: 2.5rem;
        }

        span{
            font-size: 1.7rem;
        }
    }

    .container-blog{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;

        img{
            width: 60%;
        }
    }
}

@media (max-width: 767px) {
    .section-active{
        border-bottom:3px solid transparent;
    }
}

@media (max-width: 575px) {
    .text-cover{

        h2{
            font-size: 3.3rem;
            line-height: 4rem;
        }

        span{
            font-size: 2.3rem;
        }
    }

    .title-blog{
        display: flex;
        justify-content: center;
        align-content: center;

        h2{
            font-size: 2.6rem;
        }
    }

    .container-blog{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;

        img{
            width: 60%;
        }
    }

    .newsletter-text{
        margin: 0 0;

        h3{
            font-size: 2.3rem;
        }

        span{
            font-size: 1.7rem;
        }
    }

    .newsletter-form{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;

        button{
            margin-top: 1.3rem;
        }
    }
}