@use 'base/variables' as v;

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.telling-divider{
    width: 100%;
    height: 1.8rem;
    background: linear-gradient(65deg, rgba(8,75,191,1) 0%, rgba(0,137,255,1) 35%, rgba(30,139,232,1) 100%);
}

.img-mediana{
    width: 100%;
}


//Boton Azul
.primary-button{
    color: v.$telling_white;
    background-color: v.$telling_blue;
    font-family: v.$fuenteParrafos2;
    border-radius: 25px;
    white-space: nowrap;
    padding: 1.4rem 3rem;
    text-align: center;
    border:1px solid transparent;
}

.primary-button:hover{
    background-color: #006BC6;
    cursor:pointer;
}

// Boton Negro

.primary-button-black{
    color: v.$telling_white;
    background-color: v.$telling_black;
    font-family: v.$fuenteParrafos2;
    border-radius: 25px;
    white-space: nowrap;
    padding: 1.4rem 3rem;
    text-align: center;
    border:1px solid transparent;
}

//Campo de mail
.telling-input:hover{
    border:1px solid v.$telling_blue;
    cursor:pointer;
    transition: 0.3s ease-in-out;
}

.telling-input:focus{
    outline: none;
}

.telling-input{
    padding: 1.4rem 1.4rem 1.4rem 2rem;
    border-radius: 25px;
    border:1px solid transparent;
    background-color: #E2EBF3;
}



//Sweet Alert 2

.swal-size{
    width:587px;
    height:402px;
}

.swal2-popup {
    font-size: 1.6rem !important;
}

