// Tipografias

$fuenteHeading: 'Poppins', sans-serif;
$fuenteParrafos1: 'Merriweather', serif;
$fuenteParrafos2: 'Heebo', sans-serif;

// Colores

$telling_blue:#1E8BE8;
$telling_black:#2C3944;
$telling_white:white;